* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
}

header {
  background: url("of-fitness-equipment-and-personal-grooming-tools-on-a-clean-background-with-copy-space-free-photo.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
  opacity: 0.1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #ff3c00;
}
.nav {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.signup-btn {
  background-color: #ff3c00;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.title {
  font-size: 48px;
  font-weight: 800;
}
.title span {
  color: #ff3c00;
}
.hero-btn {
  margin-top: 20px;
  display: inline-block;
  background-color: #ff3c00;
  color: white;
  padding: 12px 28px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
